%h4
	Team medical & adviser staff list
%table.table.table-hover
	%thead
		%tr
			%th Picture
			%th Name
			%th Surname
			%th Position
			%th
	%tbody
		- for user in @user.staffs
			%tr
				%td
					= image_tag(user.first_image_url)
				%td
					= user.name
				%td
					= user.surname
				%td
					- user.position
				%td
					= link_to "Delete", admin_staff_path(user), :confirm => "Are you sure?", :method=>:delete, :class => "btn btn-danger btn-mini"
					|
					= link_to "Edit", edit_admin_staff_path(user), :class => "btn btn-primary btn-mini"
					|
					=link_to "Show", admin_staff_path(user), :class => "btn btn-primary btn-mini"