%h2
	= @user.team_name

%hr

%h4
	Coaching staff
%table.table.table-hover
	%thead
		%tr
			%th Picture
			%th Name
			%th Surname
			%th Position
			%th
	%tbody
		- for user in @user.coaches
			%tr
				%td
					= image_tag(user.first_image_url)
				%td
					= user.name
				%td
					= user.surname
				%td
					= user.position
				%td
					= link_to "Delete", admin_coach_path(@coach), :confirm => "Are you sure?", :method=>:delete, :class => "btn btn-danger btn-mini"
					|
					= link_to "Edit", edit_admin_coach_path(@coach), :class => "btn btn-primary btn-mini"
					|
					=link_to "Show", admin_coach_path(@coach), :class => "btn btn-primary btn-mini"
%hr

-if @user.players.present?
	= render :partial => "admin/players/player"

%hr

-if @user.staffs.present?
	= render :partial => "admin/staffs/staff"

- content_for :sidebar do
	= link_to('<i class="icon-trash"></i>  Delete team'.html_safe, admin_user_path(@user), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger") 
	= link_to('<i class="icon-pencil"></i>  Edit'.html_safe, edit_admin_user_path(@user), :class => "btn btn-primary")
	%hr
	User registered on:
	= @user.created_at.strftime("%d.%m.%Y")