!!!
%html
  %head
    %title FootballAccountingSystem
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row
      .container
        - if user_signed_in?
          .span11  
            .navbar.navbar-inner
              %a.brand{:href => root_url} 
                = current_user.team_name
              %ul.nav
                %li
                  = link_to "Coaching staff", :coaches
                %li
                  = link_to "Players", :players
                %li
                  = link_to "Medical & adviser staff", :staffs
                %li
                  = link_to "My tournaments", :tournaments
              .sign-out
                = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-inverse"
          .span8
            .well
              / = render :partial => "shared/flash_messages"
              = yield
          .span3
            .well
              = yield(:sidebar)
        - else
          .span6.offset3
            .well.form-login
              = yield
